{
  "exclude": ["node_modules/", "src/**/*.test.ts"],
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "topLevelAwait": true,
      "decorators": true
    },
    "target": "esnext",
    "baseUrl": ".",
    "experimental": {
      "plugins": [
        [
          "@swc/plugin-transform-imports",
          {
            "^(.*?)(\\.ts)$": {
              "skipDefaultConversion": true,
              "transform": "{{matches.[1]}}.js"
            }
          }
        ]
      ]
    }
  },
  "module": {
    "type": "nodenext"
  }
}